<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PFIT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="card">
    <div class="card-body">
        <div class="col-md-10">
            <div class="row">
                <form action="#" th:action="@{/}" th:object="${traceRequest}" method="post">
                    <div class="form-group col-md-8">
                        <label for="ip" class="col-form-label" /> IP Address:
                        <input type="text" id="ip" th:field="*{ip}" class="form-control" />
                    </div>
                </form>
            </div>
            <div th:if="${traceRequest!=null}" class="row">
                <div th:if="${!#strings.isEmpty(traceRequest.name)}" class="form-group col-md-8">
                    <div >Name </div>
                    <div class="fs-1" th:text=${traceRequest.name}></div>
                </div>
                <div th:if="${!#strings.isEmpty(traceRequest.code)}" class="form-group col-md-8">
                    <div >Code </div>
                    <div class="fs-1" th:text=${traceRequest.code}></div>
                </div>
                <div th:if="${!#strings.isEmpty(traceRequest.distance)}" class="form-group col-md-8">
                    <div >Distance from B.A. </div>
                    <div class="fs-1" th:text=${traceRequest.distance}></div>
                </div>
                <div th:if="${!#strings.isEmpty(traceRequest.currency)}" class="form-group col-md-8">
                    <div >Currency </div>
                    <div class="fs-1" th:text=${traceRequest.currency}></div>
                </div>
                <div th:if="${!#strings.isEmpty(traceRequest.currencyRateUSD)}" class="form-group col-md-8">
                    <div >Currency Rate </div>
                    <div class="fs-1" th:text=${traceRequest.currencyRateUSD}></div>
                </div>
                <div th:if="${!#strings.isEmpty(traceRequest.languages)}" class="form-group col-md-8">
                    <div >Languages </div>
                    <div th:each="language: ${traceRequest.languages}">
                        <div class="fs-1"  th:text="${language}"></div>
                    </div>
                </div>
                <div th:if="${!#strings.isEmpty(traceRequest.localTimes)}" class="form-group col-md-8">
                    <div >Local Times </div>
                    <div th:each="localTime: ${traceRequest.localTimes}">
                        <div class="fs-1" th:text="${localTime}"></div>
                    </div>
                </div>
            </div>
            <div th:if="${stats!=null}" class="row">
                <div >Statistics (min/max/avg) distance (KM) </div>
                <div class="fs-1" th:text="${stats.min + '/' + stats.max + '/' + stats.avg}"></div>
            </div>
        </div>
    </div>
</div>
</body>